@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
*,
*::after
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #faf1e4;
}

.logo{ 
    height: 10rem;
}
.nav-link{
    color: #faf1e4;
    margin: 2rem;
}
.head-logo{ 
    color: #faf1e4;
    padding-left: 3rem;
}
.quote_1{
    color:#435334;
}

h1{
    font-size: 90 px;
}
