@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Belleza&family=DM+Serif+Display&display=swap');
*,
*::after
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ffe0e0;
    font-family: 'Belleza', sans-serif;
}

.logo{ 
    height: 10rem;
}
.nav-link{
    color: #faf1e4;
    margin: 2rem;
    font-family: 'Belleza', sans-serif;
}
.head-logo{ 
    color: #faf1e4;
    padding-left: 3rem;
}
.quote_1{
    color:#435334;
    font-family: 'Belleza', sans-serif;
    font-size: 20px;

}

h1{
    font-family: 'Belleza', sans-serif;
    font-size: 90px;
    color: #435334;
}
.btnproject{
    color: #faf1e4;
    background-color: #435334;
    border-radius: 0.4rem;
}
.card-body{
    background-color:#435334;
    color: #ffe0e0
}
.card{ 
background-color: black;
padding-top: 2rem;
}
.btn{
    color: #faf1e4;
}
.home{
    margin-left: 6rem;
}